/*
Auteurs :
  - Louis AMEDRO (alias Osiris Sio)
  - Chloé LEFETZ

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2025 Osiris Sio – Tous droits réservés.
*/

/* Couleurs */
:root {
  --bleu: #001a46;
  --bleu-clair: #007bff;
  --jaune: #ffd100;
  --jaune-clair: #fffa8c;
  --blanc: #ffffff;
  --gris: #444647;
}

body {
  margin-top: 175px;
}

.actualites h2 {
  font-size: 2rem;
}

.actualites h3 {
  text-align: left;
}

.date {
  font-size: 0.7em;
  color: var(--jaune-clair);
}

.actu {
  background: var(--gris);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-left: 5px solid var(--jaune);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
  width: 95%;
}

.actu img {
  transition: transform 0.3s ease-in-out;
}

.actu img:hover {
  border-color: var(--jaune-clair);
  cursor: pointer;
  transform: scale(1.05);
}
