/*
Auteurs :
  - Louis AMEDRO (alias Osiris Sio)
  - Chloé LEFETZ

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2025 Osiris Sio – Tous droits réservés.
*/

/* Couleurs */
:root {
  --bleu: #001a46;
  --bleu-clair: #007bff;
  --jaune: #ffd100;
  --jaune-clair: #fffa8c;
  --blanc: #ffffff;
  --gris: #444647;
}

/* Grille principale */
.actualites {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
  gap: 15px; /* espace entre les blocs */
}

/* Style des titres */
.actualites h3 {
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 0;
}

.date {
  font-size: 0.7em;
  color: var(--jaune-clair);
}

/* Style des actus */
.actu {
  background: var(--gris);
  padding: 0.5em 1em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  animation: animation_arrivee 1s ease-out;
  margin-top: 5px;
}

article p {
  margin-left: 0px;
  padding: 0px 4px;
  border-left: none;
}

.actu ul {
  margin: 0px;
}

.actu ul li {
  font-size: 20px;
  text-align: left;
}

/* Images et vidéos dans les actus */
.actu img,
.actu iframe {
  width: 98%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-top: auto; /* pousse l'image ou la vidéo en bas */
}

.actu a {
  margin-top: auto; /* colle en bas */
}

iframe:hover {
  border-color: var(--blanc);
  cursor: pointer;
  transform: scale(1.03);
}

/* Animations */

@keyframes animation_arrivee {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive */
@media (max-width: 950px) {
  .actu {
    margin-top: 0px;
  }

  .actu img,
  .actu iframe {
    margin-bottom: 0px;
  }

  .actualites {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .actualites {
    grid-template-columns: 1fr; /* 1 colonne */
  }
}
