/*
Auteur :
  - Louis AMEDRO (alias Osiris Sio)

© 2026 Osiris Sio - Tous droits réservés.
*/

.email-copie {
  background-color: var(--jaune, #333);
  border-radius: 8px;
  bottom: 40px;
  color: var(--bleu-clair);
  font-weight: bold;
  left: 50%;
  opacity: 0;
  padding: 6px 12px;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.4s ease-in-out;
  visibility: hidden;
  white-space: nowrap;
  z-index: 2000;
}

.email-copie.show {
  opacity: 1;
  visibility: visible;
}

.form-contact {
  background: var(--gris);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 600px;
  padding: 1rem;
}

.form-contact button {
  background-color: var(--jaune);
  border-radius: 5px;
  border: 4px solid var(--jaune);
  color: var(--bleu);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 12px;
  transition: background-color 0.3s;
  font-family: var(--font-nunito);
}

.form-contact button:hover {
  background-color: var(--blanc);
}

.form-contact input,
.form-contact textarea {
  background-color: var(--blanc);
  border-radius: 5px;
  border: none;
  font-size: 1em;
  padding: 10px;
  font-family: var(--font-nunito);
}

.form-contact label {
  color: var(--jaune);
  font-weight: bold;
}

.image-email {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

textarea {
  min-height: 100px;
  resize: none;
}
