/*
Auteurs :
  - Louis AMEDRO (alias Osiris Sio)
  - Chloé LEFETZ

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2025 Osiris Sio – Tous droits réservés.
*/

/* Couleurs */
:root {
  --bleu: #001a46;
  --bleu-clair: #007bff;
  --jaune: #ffd100;
  --jaune-clair: #fffa8c;
  --blanc: #ffffff;
  --gris-fonce: #23272a;
  --gris: #444647;
}

/* Forcer l'utilisation de la police Nunito */
* {
  font-family: 'Nunito', sans-serif;
}

.communication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
  overflow: hidden;
  margin: 0px 50px;
}

.communication a {
  display: block;
  width: 20%;
}

.communication img {
  width: 97%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.communication img:hover {
  border-color: var(--blanc);
  transform: scale(1.05);
  cursor: pointer;
}

.image-email {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-copie {
  visibility: hidden;
  background-color: var(--jaune, #333);
  color: var(--bleu-clair);
  text-align: center;
  border-radius: 8px;
  padding: 6px 12px;
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 2000;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.email-copie.show {
  visibility: visible;
  opacity: 1;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: var(--bleu);
  background: var(--gris);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.form-contact label {
  color: var(--jaune);
  font-weight: bold;
}

.form-contact input,
.form-contact textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: var(--blanc);
}

.form-contact button {
  padding: 12px;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--jaune);
  color: var(--bleu);
  border: 4px solid var(--jaune);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-contact button:hover {
  background-color: var(--blanc);
}

textarea {
  resize: none;
  min-height: 100px;
}

#linkedin:hover {
  border-color: var(--bleu-clair);
}

@media screen and (max-width: 1200px) {
  .communication {
    flex-direction: column;
    align-items: center;
    gap: 0em;
    margin: 10px 0px;
  }

  .communication a {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .communication a {
    width: 60%;
  }
}
