/*
Auteurs :
  - Louis AMEDRO (alias Osiris Sio)
  - Chloé LEFETZ

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2025 Osiris Sio – Tous droits réservés.
*/

/* Couleurs */
:root {
  --bleu-fonce: #001a46;
  --bleu-clair: #007bff;
  --jaune: #ffd100;
  --jaune-clair: #fffa8c;
  --blanc: #ffffff;
  --noir: #000000;
  --transition: 0.3s ease-in-out;
}

footer {
  background: linear-gradient(
    180deg,
    var(--bleu-fonce) 0%,
    var(--bleu-clair) 100%
  );
  color: var(--jaune);
  padding: 30px 10px 10px 10px;
  margin-top: 15px;
}

.footer-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-bas p {
  margin: 20px 0px;
  font-size: 0.9em;
}

.footer-bas a {
  color: var(--jaune-clair);
  text-decoration: underline;
}

.footer-haut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  margin-bottom: 20px;
}

.footer-haut a {
  display: inline-block;
  transition: transform var(--transition);
}

.footer-haut a:hover {
  transform: scale(1.2);
}

.footer-haut img {
  width: 32px;
  height: 32px;
  filter: invert(92%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(108%)
    contrast(101%);
}

@media screen and (max-width: 880px) {
  footer {
    padding-bottom: 70px;
  }
}
