/*
Auteurs :
  - Louis AMEDRO (alias Osiris Sio)
  - Chloé LEFETZ

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2025 Osiris Sio – Tous droits réservés.
*/

/* Couleurs */
:root {
  --bleu: #001a46;
  --bleu-clair: #007bff;
  --jaune: #ffd100;
  --jaune-clair: #fffa8c;
  --blanc: #ffffff;
  --gris-fonce: #23272a;
}

body {
  background-color: var(--gris-fonce);
  margin: 0;
  padding: 0;
  color: var(--blanc);
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
}

article p {
  text-align: left;
  font-size: 20px;
  border-left: var(--jaune-clair) 3px solid;
  margin-left: 60px;
  padding: 0px 20px;
}

article img {
  width: 25%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  border: var(--jaune) 2px solid;
}

.fond-logo {
  width: 50%;
}

.ezio {
  width: 20%;
}

article h2 {
  text-align: center;
  font-size: 32px;
  margin: 55px 10px 30px 10px;
}

article a {
  color: var(--jaune-clair);
  text-decoration: none;
}

iframe {
  width: 560px;
  height: 315px;
  border-radius: 10px;
}

article img {
  width: 30%;
  transition: transform 0.3s ease-in-out;
}

article img:hover {
  border-color: var(--jaune-clair);
  cursor: pointer;
  transform: scale(1.05);
}

/* Responsive styles */

@media (max-width: 380px) {
  .fond-logo {
    width: 100%;
  }

  .ezio {
    height: 100%;
  }

  iframe {
    width: 100%;
  }
}

@media (max-width: 900px) {
  article h2 {
    font-size: 28px;
  }

  article p {
    font-size: 18px;
    margin-left: 5px;
    padding-left: 10px;
  }

  .fond-logo {
    width: 90%;
  }

  .ezio {
    width: 60%;
  }

  iframe {
    width: 80%;
    height: 200px;
  }
}
