/*
Auteur :
  - Louis AMEDRO (alias Osiris Sio)

Testeurs :
  - Jules HERBAUX
  - Marylou LAPÔTRE

© 2026 Osiris Sio – Tous droits réservés.
*/

/* Variables Globales (Couleurs et Transitions) */
:root {
  --blanc: #ffffff;
  --bleu-clair: #007bff;
  --bleu-fonce: #001a46;
  --bleu: #001a46;
  --gris-fonce: #23272a;
  --gris: #444647;
  --jaune-clair: #fffa8c;
  --jaune: #ffd100;
  --noir: #000000;
  --transition: 0.3s ease-in-out;
}

/* ==========================================================================
   Base et Typographie
   ========================================================================== */
body {
  background-color: var(--gris-fonce);
  color: var(--blanc);
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  margin: 70px 0 0 0;
  min-height: 92vh;
  padding: 0;
  text-align: center;
}

/* ==========================================================================
   Mise en page (Layout) Globale
   ========================================================================== */
article {
  flex: 1;
}

#header,
#footer {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#header.loaded,
#footer.loaded {
  opacity: 1;
}

article a {
  color: var(--jaune-clair);
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article h2 {
  background-color: var(--gris);
  border-radius: 12px;
  font-size: 32px;
  margin: 40px 10px 5px 10px;
  padding: 0.4em 0.8em;
  text-align: center;
}

article img,
iframe {
  border-radius: 20px;
  border: var(--jaune) 4px solid;
  height: auto;
  margin: 20px 0;
  transition: transform 0.3s ease-in-out;
  width: 30%;
}

article img:hover,
iframe:hover {
  border-color: var(--blanc);
  cursor: pointer;
  transform: scale(1.03);
}

article p {
  border-left: var(--jaune) 4px solid;
  font-size: 20px;
  margin-left: 60px;
  padding: 0px 20px;
  text-align: left;
}

/* IFrames spécifiques */
iframe {
  height: 315px;
  width: 560px;
}

/* ==========================================================================
   Composants Spécifiques (Classes)
   ========================================================================== */
.fond-logo {
  width: 50%;
}

/* Réseaux */
article .reseaux div {
  align-items: center;
  display: flex;
  margin: 20px 100px;
}

article .reseaux div img {
  height: auto;
  width: 300px;
}

/* Boutons Communication */
.communication {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  margin: 0px 50px;
  overflow: hidden;
}

.communication a {
  display: block;
  width: 25%;
}

.communication img {
  display: block;
  height: auto;
  transition: transform 0.3s ease-in-out;
  width: 97%;
}

.communication img:hover {
  border-color: var(--blanc);
  cursor: pointer;
  transform: scale(1.05);
}

img.contour-bleu:hover {
  border-color: var(--bleu-clair);
}

/* ==========================================================================
   Responsive Design
   ========================================================================== */
@media (max-width: 900px) {
  article .reseaux div {
    margin: 20px 30px;
  }

  .communication {
    align-items: center;
    flex-direction: column;
    gap: 0em;
    margin: 10px 0px;
  }

  .communication a {
    width: 50%;
  }
}

@media (max-width: 870px) {
  article h2 {
    font-size: 22px;
  }

  article p {
    border-left: var(--jaune) 3px solid;
    font-size: 18px;
    margin-left: 5px;
    padding-left: 10px;
  }

  .fond-logo {
    width: 90%;
  }

  iframe {
    height: 15em;
    width: 90%;
  }

  /* Réseaux */
  article .reseaux div {
    display: contents;
    margin: 0px 100px;
  }

  article .reseaux div img {
    width: 60%;
  }

  article .reseaux div p {
    margin-bottom: 40px;
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .fond-logo,
  iframe {
    width: 90%;
  }

  .communication a {
    width: 80%;
  }
}
